
html,body {
    font-family:"Arial Black";
    max-height:100vh;
    max-width:100vw;
    background-color: transparent;
}

.jumbotron {
    background-color:white;
}

#name {
    font-size:4em;
}

.navbar,.bg-dark {
  background-color:transparent;
}

.navbar-dark.navbar-nav.nav-link{
    color:blue;
}

/* .navbar li a:hover:active {
    color:black;
} */

#particles-js{
    z-index: -2;
    position:fixed;
    width:100%;
}

.card-img-top {
    width: 100%;
    height: 20vw;
    object-fit: cover;
} 

@media (max-width: 320px) {
    #name{
        font-size: 2em;
      }
      #student{
        font-size: 1em;
      }
      #title{
          z-index: 1;
          position:fixed;
          top:20vh;
          left:20px;
      }

}
/* iPhone 6 */
@media (max-width: 767px) {
  #name{
    font-size: 3em;
  }
  #student{
    font-size: 2em;
  }
  #title{
      z-index: 1;
      position:fixed;
      top:20vh;
      left:20px;
  }
}
/* iPhone 6 - Plus*/
@media (max-width: 991px) {
}
/* XL - Big Ass Screens */
@media (min-width: 991px) {
}
